.guide {
  position: relative;
  width: 250px;
  height: 350px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 145, 255, 0.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  h2 {
    position: absolute;
    left: 12px;
    top: 50px;
  }
  p {
    font-size: 14px;
    color: darkcyan;
    position: absolute;
    right: 12px;
    bottom: 50px;
    text-decoration: underline;
    cursor: pointer;
  }
}
